html, body {
	overflow-y: scroll;
}

html, body, div, dl, dt, dd, ul, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, input, textarea, p, 
blockquote, th, td {
margin: 0;
padding: 0;
font-family: 'Encode Sans', sans-serif;
font-size: 15px;
color: #767676;
}

fieldset, abbr, img {
border: 0;
}

address, caption, code, em, strong, th, var, dfn {
font-style: normal;
font-weight: normal;
}
 
ul li {
list-style: none;
}

*, 
*:before,
*:after {
	box-sizing: border-box;
}

img,
object,
embed {
	max-width: 100%;
}

/*Container===============*/

.container {
	width: 100%;
	max-width: 970px;
	padding: 0 15px;
	margin: 0 auto;
}

/*Title============*/
.title {
color: #868686;
font-size: 28px;
font-weight: 500;
text-transform: uppercase;
}

.title span {
	color: #fc635e;
}

/*Subtitle*/
.subtitle {
color: #adadad;
font-size: 20px;
font-weight: 300;
line-height: 1.4;
}

/*Slider============*/
.slider,
.slider-2 {
	width: 28px;
	height: 28px;
	cursor: pointer;
}

/*Btn===============*/
 .btn {	
 	display: inline-block;
 	border: 2px solid #fc635e;
 	border-radius: 5px;
 	padding: 13px 40px;
	font-size: 24px;
	font-weight: 300;
	line-height: 26px;
	text-decoration: none;
	color: #fc635e;
	background: none;
	cursor: pointer;
	transition: color 0.1s linear, background 0.1s linear;
}

.btn:hover {
	color: #fff;
	background-color: #fc635e;
}

/*Header================*/

.header {
	background: #5b5551 url(../img/header/back.jpg) center no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.header__nav {
	padding-top: 31px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.header__logo {
	-webkit-animation: rotate-in-ver 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-ver 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nav ul {
	display: flex;
}

.nav ul li {
	margin-right: 50px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	-webkit-animation: slide-in-elliptic-right-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-right-fwd 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation-delay: 1s;
}

.nav ul li:last-child {
	margin-right: 0;
}

.nav ul li a {
	color: #fff;
	text-decoration: none;
	transition: color 0.1s linear;
	transition: border 0.1s linear;
}

.nav ul li a:hover {
	color: #fc635e;
	border-bottom: 4px solid #fc635e;
}

/*Intro================*/

.header__intro {
	padding: 20% 0 30%;
	text-align: center;
	position: relative;
}

.header__intro:before {
	content: "";
	display: block;
	width: 107px;
	height: 8px;
	background-color: #fff;
	opacity: 0.2;
	position: absolute;
	left: 0;
	bottom: 67%;
	-webkit-animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation-delay: 3s;
}

.header__intro:after {
	content: "";
	display: block;
	width: 107px;
	height: 8px;
	background-color: #fff;
	opacity: 0.2;
	position: absolute;
	bottom: 67%;
	right: 0;
	-webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		animation-delay: 3s;      
}

.header__intro h1 {
	color: #fff;
	font-size: 3.4rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 25px;
	-webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation-delay: 2s;
}

.btn__animated {
	-webkit-animation: roll-in-left 1.5s ease-out both;
	        animation: roll-in-left 1.5s ease-out both;
	        animation-delay: 3s;

}

.header__intro h1 span {
	color: #fc635e;
}

.header__intro p {	
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	line-height: 26px;
	margin-bottom: 45px;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation-delay: 3s;
}

.intro__mouse {
	font-size: 0;
	position: absolute;
	right: 24%;
	bottom: 0;
	-webkit-animation: slide-in-bottom 2.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 2.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation-delay: 3s;
}

.intro__mouse img {
	max-height: 330px;
}

.intro__slider {
	display: block;
	width: 28px;
	height: 28px;
	position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/*@MEDIA HEADER*/

@media screen and (max-width: 950px) {
	html {
		font-size: 13px;
	}

	.header__intro:before {
		left: 5%;
		width: 80px;
		bottom: 68%;
	}

	.header__intro:after {
		width: 80px;
		right: 5%;
		bottom: 68%;
	}

	.intro__mouse {
		right: 22%;
	}

	.intro__mouse img {
		max-height: 320px;
	}
}

@media screen (max-width: 900px) {
	.intro__mouse img {
		max-height: 310px;
	}
}

@media screen and (max-width: 860px) {
	.header__intro:before,
	.header__intro:after {
		display: none;
	}

	.intro__mouse {
		right: 22%;
	}

	.intro__mouse img {
		max-height: 290px;
	}
}

@media screen and (max-width: 800px) {
	.intro__mouse img {

		max-height: 270px;
	}
}

@media screen and (max-width: 750px) {
	.intro__mouse {
		right: 20%;
	}

	.intro__mouse img {
		max-height: 250px;
	}
}

@media screen and (max-width: 700px) {
		
		html {
			font-size: 10px;
		}

		.header__nav {
			flex-direction: column;
		}

		.header__logo {
			margin-bottom: 30px;
		}

		.intro__mouse {
			right: 17%;
		}

		.intro__mouse img {
			max-height: 240px;
		}
}

@media screen and (max-width: 650px) {
	.intro__mouse img {
		max-height: 230px
	}
}

@media screen and (max-width: 600px) {
	.intro__mouse {
		right: 15%;
	}
	.intro__mouse img {
		max-height: 210px;
	}
}

@media screen and (max-width: 550px) {
	.intro__mouse {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 8px;
	}

	.nav ul {
		flex-direction: column;
		align-items: center;
	}

	.nav ul li {
		margin-right: 0;
		margin-bottom: 20px;
	}
}


@media screen and (max-width: 400px) {
	html {
		font-size: 6px;
	}	
}

/*Animation h1*/

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*Animation p*/

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


/*Animation Btn*/

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}


/*Animation intro:after*/

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0.2;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0.2;
  }
}

/*Animation intro:before*/

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0.2;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0.2;
  }
}

/*Animation mouse*/
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*Animation logo*/

@-webkit-keyframes rotate-in-ver {
  0% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
}
@keyframes rotate-in-ver {
  0% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
}

/*Animation nav*/ 
	@-webkit-keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
            transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
            transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
  }
}

/*Advantage===================*/

.advantage__inner {
	padding: 65px 0 15px;
	text-align: center;
}

.advantage__text {
	width: 60%;
	margin: 0 auto;
}

.advantage__text__title {
	margin-bottom: 30px;
	position: relative;
}

.advantage__text__title:after {
	content: "";
	display: block;
	width: 337px;
	height: 1px;
	background-color: #adadad;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.advantage__text__subtitle {
	margin-bottom: 80px;
}

.advantage__posts {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 -1.5%;
	margin-bottom: 50px;
}

.advantage__posts__item {
	width: 22%;
	margin: 0 1.5%;
	margin-bottom: 40px;
	cursor: pointer;
}

.posts__item__logo {
	position: relative;
	max-width: 100px;
	margin: 0 auto 25px;
}

.posts__item__icon {
	width: 100px;
	height: 115px;
	fill: #fc635e;
	stroke: #fe8682;
	stroke-width: 4;
	stroke-linejoin: miter;
	transition: fill 0.2s linear, stroke 0.2s linear;
}

.posts__item__form {
	display: block;
	width: 34px;
	height: 39px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
	fill: #fff;
	transition: fill 0.2s linear;
}

.advantage__posts__item:hover .posts__item__icon {
	fill: none;
	stroke: #fc635e;
}

.advantage__posts__item:hover .posts__item__form {
	fill: #fc635e;
}

.advantage__posts__item h3 {
	color: #868686;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}

.advantage__posts__item h3:after {
	content: "";
	display: block;
	width: 59px;
	height: 1px;
	background-color: #adadad;
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
}

.advantage__slider {
	cursor: pointer;
	display: block;
	width: 28px;
	height: 28px;
	margin: 0 auto;
}

/*@MEDIA ADVANTAGE*/
@media screen and (max-width: 970px) {

	.advantage__posts {
		margin: 0;
	}

	.advantage__posts__item {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
}


@media screen and (max-width: 900px) {
	.advantage__text {
		width: 70%;
	}
}

@media screen and (max-width: 780px) {
	.advantage__text {
		width: 80%;
	}

	.advantage__text__subtitle {
		font-size: 18px;
	}
}

@media screen and (max-width: 620px) {
	.advantage__text {
		width: 90%;
	}
}

@media screen and (max-width: 550px) {
	.advantage__text__subtitle {
		font-size: 16px;
	}

	.advantage__posts__item {
		width: 70%;
	}
}

@media screen and (max-width: 470px) {
	.advantage__text {
		width: 100%;
	}

	.advantage__text__title {
		font-size: 23px;
	}

	.advantage__text__title:after {
		width: 280px;
	}

	.advantage__posts__item {
		width: 90%;
	}
}

/*Expand===================*/

.expand {
	background: #2d4453 url(../img/expback.jpg) no-repeat;
	background-size: cover;
	padding: 8% 0 2%;
}

.expand__inner {

	padding: 10% 0;
	text-align: center;
	margin-bottom: 100px;
	border: 8px solid rgba(255, 255, 255, 0.1);
}

.expand__inner h2 {
	color: #fff;
	font-size: 3.4rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.expand__inner h2 span {
	color: #fc635e;
}

.expand__btn {
	padding: 13px 65px;
}

.expand__slider {
	text-align: center;
}

/*@MEDIA EXPAND*/ 
@media screen and (max-width: 980px) {
	.expand__inner {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.expand__btn {
		padding: 10px 35px;
	}

	.expand__inner {
		margin-bottom: 40px;
	}
}


/*Process=============*/

.process {
	padding: 3% 0 1%;
}

.process__text {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.process__subtitle {
	margin-bottom: 55px;
}

.process__title {
	position: relative;
	margin-bottom: 30px;
}

.process__title:after {
	content: "";
	display: block;
	width: 180px;
	height: 1px;
	background-color: #adadad;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.process__slider {
	width: 60%;
    text-align: center;
    margin: 0 auto;
}

.process__steps {
	padding: 15% 0;
	position: relative;
	margin-bottom: 35px;
}

.step-1 {
  display: inline-block;
  position: relative;
  width: 174px; 
  height: 100px;
  background: none;
  margin-left: 90px;
  border-left: solid 2px #c0c0c0;
  border-right: solid 2px #c0c0c0;
  text-align: center;
  transition: border-right 0.4s linear 0.4s;
  cursor: pointer;
}

.step-1:before,
.step-1:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 123.04px;
  height: 123.04px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 23.4817px;
}

.step-1:before {
  top: -61.5183px;
  border-top: solid 2px #c0c0c0;
  border-right: solid 2px #c0c0c0;
  transition: border-top 0.4s linear, border-right 0.4s linear 0.2s;
}

.step-1:after {
  bottom: -61.5183px;
  border-bottom: solid 2px #c0c0c0;
  border-left: solid 2px #c0c0c0;
}


/*ELLIPSE======*/

.ellipseRed {
	width: 38px;
	height: 38px;
	fill: #fc635e;
	position: absolute;
	z-index: 1;
	opacity: 0;
	top: -15px;
	left: -20px;	
}

.ellipseWhite {
	width: 38px;
	height: 38px;
	stroke: #fc635e;
	stroke-width: 3;
	fill: #fff;
	position: absolute;
	z-index: 5;
	opacity: 0;
	bottom: -90px;
	left: 50%;
	transform: translateX(-50%);
}

.step-1--ellipseRed {
	transition: opacity 0.2s linear;
}

.step-2--ellipseRed {
	transition: opacity 0.2s linear 0.7s;
}

.step-3--ellipseRed {
	transition: opacity 0.2s linear 1s;
}

.step-4--ellipseRed {
	transition: opacity 0.2s linear 1.2s;
}

.step-4 .ellipseWhite {
	transition: opacity 0.2s linear 1.6s;
}

/*FORM========*/

.process__form {
	width: 19px;
	height: 25px;
	fill: #fff;
	position: absolute;
	z-index: 7;
	opacity: 0;
	left: -10px;
	top: -9px;
}

.rocket {
	width: 19px;
	height: 25px;
	position: absolute;
	z-index: 6;
	opacity: 0;
	fill: #fc635e;
	bottom: -84px;
	left: 50%;
	transform: translateX(-50%);
}

.step-1--process {
	transition: opacity 0.2s linear;
}

.step-2--process {
	transition: opacity 0.2s linear 0.7s;
}

.step-3--process {
	transition: opacity 0.2s linear 1s;
}

.step-4--process {
	transition: opacity 0.2s linear 1.2s;
}

.step-4 .rocket {
	transition: opacity 0.2s linear 1.6s;
}

/*PROCESS HOVER*/

.process__steps:hover .step-1 {
	border-right: solid 4px #fc635d;
}

.process__steps:hover .step-1:before {
	border-top: solid 5px #fc635d;
}

.process__steps:hover .step-1:before {
	border-right: solid 5px #fc635d;
}

.process__steps:hover .step-5:before {
  	border-right: 5px solid red;
  	z-index: 10;
}

.process__steps:hover .step-2 {
	border-left: 3px solid #fc635d;
}

.process__steps:hover .step-2:before {
	border-top: 5px solid #fc635d;
}

.process__steps:hover .step-3 {
	border-left: 3px solid #fc635d;
}

.process__steps:hover .step-3:before {
	border-top: solid 5px #fc635d;
}

.process__steps:hover .step-3:before {
	border-right: solid 5px #fc635d;
}

.process__steps:hover .step-3 {
	border-right: solid 4px #fc635d;
}

.process__steps:hover .step-4:before {
	border-top: solid 5px #fc635d;
}

.process__steps:hover .step-4:before {
	border-right: solid 5px #fc635d;
}

.process__steps:hover .step-4 {
	border-right: solid 4px #fc635d;
}

.process__steps:hover .step-4:after {
	border-bottom: solid 5px #fc635d;
}

.process__steps:hover .ellipseRed {
	opacity: 1;
}

.process__steps:hover .ellipseWhite {
	opacity: 1;	
}

.process__steps:hover .process__form {
	opacity: 1;	
}

.process__steps:hover .rocket {
	opacity: 1;	
}

.process__steps h3 {
	color: #868686;
	font-size: 24px;
	font-weight: 500;	
	text-transform: uppercase;
	position: relative;
	margin-bottom: 20px;
}

.process__steps h3 span {
	color: #fc635e;
}

.process__steps h3:after {
	content: "";
	display: block;
	width: 76px;
	height: 1px;
	background-color: #adadad;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.process__steps p {
	color: #9f9f9f;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.1;
}

.step-5 {
  display: inline-block;
  position: relative;
  width: 262px; 
  height: 150px;
  background: none;
  border-left: solid 2px #c0c0c0;
  border-right: solid 2px #c0c0c0;
  text-align: center;
  transition: border-right 0.4s linear 0.4s;
  cursor: pointer;
  left: 13.9%;
  bottom: -24px;
}

.step-5:before,
.step-5:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 185px;
  height: 185px;
  -webkit-transform: scaleY(0.57) rotate(-45deg);
  -ms-transform: scaleY(0.57) rotate(-45deg);
  transform: scaleY(0.57) rotate(-45deg);
  background-color: inherit;
  left: 37px;
}

.step-5:before {
  top: -93px;
  border-top: solid 2px #c0c0c0;
  border-right: solid 2px #c0c0c0;
  transition: border-right 0.4s linear 0.5s;
}

.step-5:after {
  bottom: -93px;
  border-bottom: solid 2px #c0c0c0;
  border-left: solid 2px #c0c0c0;
}

.process__photo {
	position: absolute;
	bottom: -74px;
	left: 0;
	z-index: 1;
}

.step-2 {
  display: inline-block;
  position: relative;
  width: 174px; 
  height: 100px;
  background: none;
  border-left: solid 2px #c0c0c0;
  border-right: solid 2px #c0c0c0;
  text-align: center;
  transition: border-left 0.4s linear 0.6s;
  cursor: pointer;
  left: 13%;
  bottom: -74px;
}


.step-2:before,
.step-2:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 123.04px;
  height: 123.04px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 23.4817px;
}

.step-2:before {
  top: -61.5183px;
  border-top: solid 2px #c0c0c0;
  border-right: solid 2px #c0c0c0;
  transition: border-top 0.4s linear 0.7s;
}

.step-2:after {
  bottom: -61.5183px;
  border-bottom: solid 2px #c0c0c0;
  border-left: solid 2px #c0c0c0;
}

.step-3 {
  display: inline-block;
  position: relative;
  width: 174px; 
  height: 100px;
  background: none;
  border-left: solid 2px #c0c0c0;
  border-right: solid 2px #c0c0c0;
  text-align: center;
  transition: border-left 0.4s linear 0.8s, border-right 0.4s linear 1.1s;
  cursor: pointer;
  top: -74px;
  left: 3.3%;
}


.step-3:before,
.step-3:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 123.04px;
  height: 123.04px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 23.4817px;
}

.step-3:before {
  top: -61.5183px;
  border-top: solid 2px #c0c0c0;
  border-right: solid 2px #c0c0c0;
  transition: border-top 0.4s linear 0.9s, border-right 0.4s linear 1s;
}

.step-3:after {
  bottom: -61.5183px;
  border-bottom: solid 2px #c0c0c0;
  border-left: solid 2px #c0c0c0;
}


.step-4 {
  display: inline-block;
  position: relative;
  width: 262px; 
  height: 150px;
  padding: 0 30px;
  background: none;
  border-left: solid 2px #c0c0c0;
  border-right: solid 2px #c0c0c0;
  text-align: center;
  transition: border-right 0.4s linear 1.4s;
  cursor: pointer;
  left: 2.7%;
  bottom: -27px;
}

.step-4:before,
.step-4:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 185px;
  height: 185px;
  -webkit-transform: scaleY(0.57) rotate(-45deg);
  -ms-transform: scaleY(0.57) rotate(-45deg);
  transform: scaleY(0.57) rotate(-45deg);
  background-color: inherit;
  left: 37px;
}

.step-4:before {
  top: -93px;
  border-top: solid 2px #c0c0c0;
  border-right: solid 2px #c0c0c0;
  transition: border-top 0.4s linear 1.2s, border-right 0.4s linear 1.3s;
}

.step-4:after {
  bottom: -93px;
  border-bottom: solid 2px #c0c0c0;
  border-left: solid 2px #c0c0c0;
  transition: border-bottom 0.4s linear 1.4s;
}

/*@MEDIA PROCESS*/

@media screen and (max-width: 970px) {

	.step-1 {
		margin-left: 190px;
	}


	.step-2 {
		left: -6px;
		bottom: 0;
	}

	.step-3 {
		top: 0;
		left: -11px;
	}

	.step-4 {
		left: 490px;
		bottom: -70px;
	}

	.step-5 {
		left: -120px;
		bottom: -125px;
	}

	.process__photo {
		bottom: -74px;
	}

}

@media screen and (max-width: 890px) {
	.process__text {
		width: 70%;
	}
}

@media screen and (max-width: 850px) {
	.step-1 {
		margin-left: 150px;
	}

	.step-4 {
		left: 450px;
	}

	.step-5 {
		left: -160px;
	}
}

@media screen and (max-width: 800px) {
	.process__steps {
		margin-bottom: 85px;
	}

	.step-1 {
		margin-left: 120px;
	}

	.step-4 {
		left: 420px;
	}

	.step-5 {
		left: -190px;
	}
}

@media screen and (max-width: 760px) {
	.process__text {
		width: 90%;
	}
	
	.process__steps {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.process__text {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.process__subtitle {
		font-size: 16px;
	}
}


/*OUR WORK ========*/

.work {
	padding: 4% 0 1%;
	background: #f2f2f2;
	text-align: center;
}

.work__title {
	position: relative;
	margin-bottom: 120px;
}

.work__title:after {
	content: "";
	display: block;
	width: 240px;
	height: 1px;
	background-color: #adadad;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.work__inner {
	display: flex;
	margin-bottom: 45px;
}

.work__text {
	width: 42%;
	text-align: left;
	margin-right: 40px;
}

.work__text__title {
	border-left: 10px solid #fc635e;
	margin-bottom: 25px;
	padding-left: 10px;
}

.work__text__subtitle {
	color: #9e9898;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.8;
	margin-bottom: 35px;
}

.work__btn {
	background-color: #fc635e;
	padding: 8px 35px;
	color: #f2f2f2;
	font-size: 20px;
	font-weight: 300;
	transition: background 0.2s linear;
}

.work__btn:hover {
	background: #f9423c;
}

.work__photo {
	width: 55%;
	position: relative;
}

.work__photo-1 {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.work__photo-2 {
	position: absolute;
	bottom: 15px;
	left: 90px;
	z-index: 1;
}

.work__photo-3 {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
}

/*@MEDIA WORK*/

@media screen and (max-width: 970px) {
	.work__inner {
		flex-direction: column;
    	align-items: center;
	}

	.work__title {
		margin-bottom: 50px;
	}

	.work__text {
		width: 70%;
		text-align: center;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.work__text__title {
		border-left: none;
		padding-left: 0;
	}
	
	.work__photo {
		width: 100%;
		display: flex;
        flex-direction: column;
	}

	.work__photo-1,
	.work__photo-2,
	.work__photo-3 {
		position: static;
	}

	.work__photo-3 {
		order: -1;
	}
}

@media screen and (max-width: 700px) {
	.work__text {
		width: 90%;
	}
}


@media screen and (max-width: 550px) {
	.work__text {
		width: 100%;
	}

	.work__text__subtitle {
		font-size: 13px;
	}
}

@media screen and (max-width: 450px) {
	.work__text__subtitle {
		font-size: 11px;
	}
}

/*WORK-2===================*/

.work-2 {
	padding-top: 7%;
	background:none;
}

.work-2__text {
	text-align: right;
	margin-right: 0;
	margin-left: 40px;
	margin-top: 20px;
}

.work-2__text__title {
	border-left: none;
	padding: 0 10px 0 0;
	border-right: 10px solid #fc635e;;
}

/*@MEDIA WORK-2*/

@media screen and (max-width: 950px) {
	
	.work__inner {
		margin-bottom: 0;
	}

	.work-2__text {
		margin-left: 0;
		text-align: center;
	}

	.work-2__text__title {
		padding-right: 0;
		border-right: 0;
	}
}

/*WORK-3===============*/

.work-3 {
	padding-top: 10%;
}


/*Portfolio===========================*/

.portfolio {
	padding: 6% 0 1%;
}

.portfolio__inner {
	text-align: center;
}

.portfolio__title {
	position: relative;
	margin-bottom: 50px;
}

.portfolio__title:after {
	content: "";
	display: block;
	width: 150px;
	height: 1px;
	background-color: #adadad;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.portfolio__nav {
	padding: 15px 10px;
	border-top: 1px solid #747474;
	border-bottom: 1px solid #747474;
	margin-bottom: 45px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.portfolio__link {
	color: #fc635e;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
}

.portfolio__link:after {
	content: "";
	display: block;
	width: 0;
	height: 20px;
	border-right: 1px solid #747474;
	position: absolute;
	right: -50px;
	bottom: 0;
	transform: rotate(30deg)
}

.portfolio__works {
	display: flex;
	align-items: center;
	margin-bottom: 55px;
}

.portfolio__bike,
.portfolio__present,
.portfolio__letter,
.portfolio__color,
.portfolio__bus,
.portfolio__cars {
	position: relative;
	cursor: pointer;
	font-size: 0;
}

.portfolio__works__left,
.portfolio__works__right {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}

.portfolio__bike,
.portfolio__bus,
.portfolio__color {
	margin-bottom: 11px;
}

.portfolio__present,
.portfolio__color {
	margin-right: 11px;
}

.portfolio__bike--hover,
.portfolio__cars--hover,
.portfolio__present--hover,
.portfolio__letter--hover,
.portfolio__color--hover,
.portfolio__bus--hover {
	width: 100%;
	height: 100%;
	background-color: rgba(252, 96, 90, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.2s linear;
}

.portfolio__bike--hover p,
.portfolio__cars--hover p, 
.portfolio__present--hover p,
.portfolio__letter--hover p,
.portfolio__color--hover p,
.portfolio__bus--hover p {
	color: #ffffff;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	top: 20px;
	left: 25px;
	z-index: 2;
}

.portfolio__bike__icon,
.portfolio__cars__icon,
.portfolio__present__icon,
.portfolio__letter__icon,
.portfolio__color__icon,
.portfolio__bus__icon {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.portfolio__cars:hover .portfolio__cars--hover{
	opacity: 1;
}

.portfolio__present:hover .portfolio__present--hover {
	opacity: 1;
}

.portfolio__bike:hover .portfolio__bike--hover{
	opacity: 1;
}

.portfolio__letter:hover .portfolio__letter--hover {
	opacity: 1;
}

.portfolio__color:hover .portfolio__color--hover {
	opacity: 1;
}

.portfolio__bus:hover .portfolio__bus--hover {
	opacity: 1;
}

.portfolio__btn {
	padding: 12px 17px;
	background-color: #fc635e;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 25px;
}

/*@MEDIA PORTFOLIO*/

@media screen and (max-width: 970px) {
	.portfolio__works {
		flex-direction: column;
	}

	.portfolio__works__left {
		margin-bottom: 15px;
	}

	.portfolio__works__left,
	.portfolio__works__right {
		width: 100%;
		display: block;
	}

	.portfolio__present,
	.portfolio__letter,
	.portfolio__color,
	.portfolio__bus {
		display: inline-block;
	}
}

@media screen and (max-width: 800px) {
	.portfolio__nav {
		width: 50%;
    	margin-left: auto;
    	margin-right: auto;
    	flex-direction: column;
	}

	.portfolio__link {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 515px) {

	.portfolio__present,
	.portfolio__letter,
	.portfolio__color,
	.portfolio__bus {
		display: block;
	}

	.portfolio__present,
	.portfolio__color {
		margin-right: 0;
	}

	.portfolio__present {
		margin-bottom: 12px;
	}

	.portfolio__letter,
	.portfolio__color,
	.portfolio__bus {
		width: 217px;
		margin-left: auto;
		margin-right: auto;
	}

	.portfolio__nav {
		width: 90%;
	}

	.portfolio__bike,
	.portfolio__cars {
		display: none;
	}
}

/*Team=============*/

.team {
	padding: 4% 0 1%;
	background-color: #f2f2f2;
	text-align: center;
}

.team__title {
	position: relative;
	margin-bottom: 85px;
}

.team__title:after {
	content: "";
	display: block;
	width: 150px;
	height: 1px;
	background-color: #adadad;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.ourTeam {
	display: flex;
	align-items: center;
	margin-bottom: 70px;
}

.our__team__people {
	margin-right: 170px;
}

.our__team__people:last-child {
	margin-right: 0;
}

.team__logo {
	margin-bottom: 25px;
}

.our__team__people h4 {
	color: #565656;
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 10px;
}

.our__team__people h4 span {
	color: #fc635e;
}

.our__team__people h5 {
	color: #565656;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 20px;
}

.social__facebook,
.social__twitter,
.social__in {
	width: 37px;
	height: 37px;
	fill: #565656; 
	cursor: pointer;
	transition: fill 0.2s linear;
}

.social__facebook,
.social__twitter {
	margin-right: 15px;
}

.social__facebook:hover,
.social__twitter:hover,
.social__in:hover {
	fill: #fc635e;
}

/*@MEDIA TEAM*/

@media screen and (max-width: 980px) {
	.ourTeam {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.our__team__people {
		margin-right: 0;
		margin-bottom: 40px;
	}

	.team__logo {
		margin-bottom: 5px;
	}
}

/*Team Leader==========*/

.leader {
	text-align: center;
	padding: 4% 0 165px;
}

.leader__quots {
	margin-bottom: 75px;
	position: relative;
}

.leader__hexagon {
	width: 70px;
	height: 80px;
	fill: #fc635e;
	stroke: #fe8682;
	stroke-width: 4;
	stroke-linejoin: miter;
}


.quots {
	width: 34px;
	height: 29px;
	fill: #fff;
	position: absolute;
	bottom: 35%;
    left: 48%;
	z-index: 10;
}

.leader__inner {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.leader__text {
	width: 34%;
	color: #767676;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.4;
	margin-right: 70px;
}

.leader__photo {
	margin-right: 70px;
}

.leader__name h4 {
	color: #818181;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 15px;
}

.leader__name h4 span {
	color: #fc635e;
}

.leader__name h5 {
	color: #818181;
	font-size: 20px;
	font-weight: 300;
	line-height: 2;
}

.leader__arrow--left,
.leader__arrow--right {
	width: 31px;
	height: 31px;
	fill: #fc635e;
	cursor: pointer;
}

.leader__arrow--left {
	margin-right: 25px;
}

/*@MEDIA LEADER*/

@media screen and (max-width: 960px) {
	.leader__inner {
		flex-direction: column;
	}

	.leader__text {
		width: 60%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.leader__photo {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.leader__quots {
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 750px) {
	.quots {
		left: 47.5%;
	}
}

@media screen and (max-width: 650px) {
	.leader__text {
		width: 70%
	}
}

@media screen and (max-width: 600px) {
	.quots {
		left: 47%;
	}
}

@media screen and (max-width: 550px) {
	.leader__text {
		width: 90%;
	}
}

@media screen and (max-width: 500px) {
	.quots {
		left: 46%;
	}

	.leader__text {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.quots {
		left: 45%;
	}
}

/*Map===================*/

.map {
	background: #c1c1c1 url(../img/map.jpg) center no-repeat;
	background-size: cover;
	padding: 4% 0;
}

.map__address {
	width: 209px;
	position: relative;
	text-align: center;
	left: 50%;
	bottom: 170px;
	transform: translateX(-50%);
}

.map__hexagon{
	width: 209px;
	height: 242px;
	fill: #fc635e;
	stroke: #fe8682;
	stroke-width: 4;
	stroke-linejoin: miter;
}

.adress {
	bottom: 36%;
	position: absolute;
}

.adress h5 {
	color: #ffffff;
	font-size: 27px;
	font-weight: 500;
	margin-bottom: 20px;
}

.adress span {
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
}

/*@MEDIA MAP*/

@media screen and (max-width: 970px) {
	.map__address {
		bottom: 150px;
	}
}

@media screen and (max-width: 600px) {
	.map__address {
		bottom: 130px;
	}
}


/*Footer====================*/

.footer {
	background: #1a1a1a url(../img/footer.jpg) center no-repeat;
	background-size: cover;
	padding: 4% 0;
	text-align: center;
}



























































































































